* {
  box-sizing: border-box;
  margin-top: 0;
  padding-top: 0;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: auto;
  overflow-y: scroll;
  border: 5px green solid;
  width: 1560px;
  height: 2000px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.app {
  width: 1560px;
  height: 2000px;
}
